.card {
  height: 400px;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  overflow: auto;
}

.image-container {
  height: 55%;
  width: 100%;
}

.restaurant-image {
  height: 100%;
  width: 100%;
}

.card-info {
  width: 100%;
  height: 45%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.name-price-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.distance {
  width: 100%;
  text-align: start;
}

.vibes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: flex-start;
  overflow-y: auto;
  max-height: 45px;
}

.a-vibe {
  font-size: 14px;
  width: fit-content;
  min-width: 95px;
  padding: 8px 12px;
  background: #c1dbed;
  border-radius: 50px;
}

.star-and-site-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  position: absolute;
  bottom: 0;
  padding: 8px;
}

.button-container {
  display: flex;
  gap: 4px;
  align-items: center;
}
